@font-face {
  font-family: "iconfont"; /* Project id 2787599 */
  src: url('iconfont.woff2?t=1678159385828') format('woff2'),
       url('iconfont.woff?t=1678159385828') format('woff'),
       url('iconfont.ttf?t=1678159385828') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanshu:before {
  content: "\e6de";
}

.icon-kehuji-guanji:before {
  content: "\e63b";
}

.icon-gongzuotai1:before {
  content: "\e665";
}

.icon-shouqicaidan:before {
  content: "\e6a4";
}

.icon-zhankaicaidan:before {
  content: "\e6a5";
}

.icon-xitongshezhi:before {
  content: "\e691";
}

.icon-shanchu:before {
  content: "\e621";
}

.icon-xinjiancaijirenwu:before {
  content: "\e60e";
}

.icon-shuaxin:before {
  content: "\e612";
}

.icon-zhankai:before {
  content: "\e617";
}

.icon-daochu:before {
  content: "\e611";
}

.icon-shezhi1:before {
  content: "\e892";
}

.icon-jiaobiaoxuanzhong:before {
  content: "\eb0e";
}

.icon-yanjing:before {
  content: "\e60d";
}

.icon-yincang:before {
  content: "\e86c";
}

.icon-yonghu2:before {
  content: "\e620";
}

.icon-qiyeguanli_yuangongguanli:before {
  content: "\e62c";
}

.icon-yonghuguanli1:before {
  content: "\e68a";
}

.icon-shibai1:before {
  content: "\e8b8";
}

.icon-chenggong1:before {
  content: "\e692";
}

.icon-fuzhi1:before {
  content: "\e604";
}

.icon-queren:before {
  content: "\e60c";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-bianji_o:before {
  content: "\eb49";
}

.icon-gerenshezhi:before {
  content: "\e657";
}

.icon-mima1:before {
  content: "\e609";
}

